*{
    font-family: 'Poppins', sans-serif;
    // overflow-x: hidden;
    // background-color: lightcoral;
    .banner{
        text-align: left;
        color: white;
        position:relative;
        background-color: none;
        // border:3px solid yellow;
        .backgound-image{
            position: absolute;
            top:0;
            left:0;
            z-index:-2;
            height:100%;
            width:100%;
        }
        .backgound-deco{
            position: relative;
            margin-top:15%;
            z-index:-1;
            width:120%;
            // border:3px solid lightgreen;
        }
        .banner-row{
            
            width:80%;
            z-index:1;
            margin-left:auto;
            margin-right:auto;
        }
        .banner-text{
            // border:3px solid white;
            width:47%;
            height:100%;
            background-color: transparent;
            .for-happy-day{
                font-size: 3rem;
                margin:1rem;
                background-color: transparent;

            }
            .enjoy-happy-meal{
                font-size: 4.5rem;
                font-weight: 600;
                margin:1rem;
                margin-bottom:3rem;            
                background-color: transparent;

            }
            .check-our-menu{
                margin:0.8rem;
                font-size:1rem;   
                a{
                    color:white;
                    // background-color: black;
                    text-decoration: none;
                    padding:10px;
                    transition: 1s;
                }
                :hover{
                    color:black;
                    background-color:white;
                    border-radius:30px;
                    text-decoration: none;
                    
                }
            }
        }
        
        
    } 
    .three-column-row{
        display:flex;
        justify-content: center;
        align-content:center;
        .three-column{
            color:black;
            z-index:2;
            // border:1px solid black;
            border-radius: 50px 50px 0px 0px;
            box-shadow: 10px 10px 25px rgba(128, 128, 128, 0.1);
            margin-top:-10rem;
            margin-left: 1rem;
            margin-right: 1rem ;
            text-align: center;
            padding:1.5rem;
            background-color: white;
            img{
                background-color: white;
                margin:10px;
            }
            h5{
                background-color: white;
                margin:10px;
                font-weight: 600;
            }
            p{
                background-color: white;
                margin:10px;
                font-weight: 400;
            }
        }
    }  
}