*{
    font-family: 'Poppins', sans-serif;
    color:white;
    .banner{
        text-align: left;
        color: white;
        position:relative;
        background-color: none;
        
        border:3px solid yellow;
        img{
            position: absolute;
            top:0;
            left:0;
            z-index:-1;
        }
        .banner-row{
            border:3px solid lightgreen;
            width:80%;
            z-index:1;
            margin-left:auto;
            margin-right:auto;
        }
        .banner-text{
            font-size: 5rem;
            border:3px solid white;
            width:100%;
            height:100%;
            
            .for-happy-day{
                font-size: 3rem;
                margin:1rem;
            }
            .enjoy-happy-meal{
                font-size: 4rem;
                font-weight: 700;
                margin:1rem;
                margin-bottom:3rem;
            }
            .check-our-menu{
                margin:0.8rem;
                font-size:1rem;                
                a{
                    color:white;
                    // background-color: black;
                    text-decoration: none;
                    padding:10px;
                    transition: 0.5s;
                }
                :hover{
                    color:black;
                    background-color:white;
                    border-radius:30px;
                    text-decoration: none;
                    
                }
            }
        }
        
        
    }   
    .block-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:2rem;
        border:2px solid red;
        text-align:center;
        .col-3{
            border-radius: 30px 30px 0px 0px;
            border:1px solid black;
            margin:1rem;
            padding-left:3rem;
            padding-right:3rem;
            padding-top:2rem;
            padding-bottom:2rem;
        }
    } 
    
    
    
}