.row{
    // border:2px solid purple;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: right;
    .dev-title{
        margin-top:auto;
        margin-bottom: auto;
        font-weight:800;
        font-size:1.5rem;
        a{
            color:white;
            text-decoration: none;
            :hover{
                color:white;
                text-decoration: none;
            }
        }
    }
        .menu-mymenu-container{
            // border:2px solid green;
            width:70%;
            .my-nav{
                margin:3rem;
                list-style: none;
                display:flex;
                flex-direction: row;
                justify-content: right;
                // border:2px solid black;
                li{
                    margin:1rem;                    
                    // border:2px solid red;
                    a{
                        color:white;
                        text-decoration: none;
                        :hover{
                            color:white;
                            text-decoration: none;
                        }
                    }
                }
            }
        
    }
    
    
}